.block.abcabc {
  background-color: black;
  color: white;
}

.block.abcabc.bg-green {
  background-color: greenyellow;
}

.section.abcabc.bg-green {
  background-color: red;
}

.section.abcabc h1 {
  background-color: aqua;
  font-style: italic;
}